
:root {
  --light-blue: #2BBBD8;
  --golden-rod: #FCD271;
  --orange-red: #F78D3F;
  --dark: #102E37;
  --white: #E8EDE0;
  background: var(--light-blue);
}

body {
  background: var(--light-blue);
  color: var(--dark);
}

table tr {
  background: var(--light-blue);
  color: var(--dark);
}

ul {
  background-color: var(--golden-rod);
}

ul li a {
  color: var(--dark);
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: var(--orange-red);
  color: var(--white);
}

ul a.active {
  background-color: var(--dark);
  color: var(--white);
}

#side-nav {
  background-color: var(--golden-rod);
  color: var(--dark);
}
